.EnterName{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .EnterNameFadeOut{
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .EnterNameFadeOut.fade-out{
    opacity: 0;
  }

  @media (max-width: 800px) {
    .EnterNameContents{
      width: 80%;
    }
    .NavButtons{
      width: 100%;
    }
  }